@charset "UTF-08";

body{
    background-image: url("../imagens/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}